#header{    
    color: white;
    margin-bottom: 1rem;
    padding-bottom: 12px;
}

#buttons {
    display: flex; 
    justify-content: center;
    gap: 16px; 
}

button {
min-width: 120px; 
}

#description{
    width: 26.5rem;
}

.form-element{
    padding-bottom: 22px;
}