.global-container {
  padding-top: 1rem;
  background-color: white; 
  display: flex;
  flex-direction: column;
}

.content {
  margin-bottom: 20px;  
  margin-top: 20px; 
  padding: 16px;
  align-items: center;
  background-color: white;  
}


.row-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.spaced-card {
  width: 45%; 
}

.right {
  order: 2;
}

.left {
   /* Para que aparezca hacia la izquierda */
  order: 1;
}
