.container {
    background-color: black;
    width: 550px;
    height: 350px;    
  }
  
  .login-card {
    align-items: center;
    color: white;
  } 
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
  }
  
  .full-width {
    width: 70%; /* Hace que los campos ocupen todo el ancho disponible */
    margin-bottom: 16px; /* Espacio entre los textboxes */
    margin-top: 16px;
  }
  
  .button-group {
    display: flex;
    justify-content: space-between;
    width: 50%; /* Los botones ocupan todo el ancho */
  }
  
  button {
    width: 48%; /* Cada botón ocupa el 48% del ancho */
  }
  
  .form-element{
    padding-bottom: 22px;
}