<div class="container">
    <div id="second-container" class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'LOGIN'  | translate }} </mat-card-title>
        </mat-card-header>
      </mat-card>
  
      <form [formGroup]="myForm" id="the-form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col">            

            <mat-form-field appearance="fill">
                <mat-label>{{ 'EMAIL'  | translate }} </mat-label>
                <input matInput formControlName="Correo" placeholder="Correo">
                <mat-error *ngIf="submitted && form['Correo'].errors">
                  <div *ngIf="form['Correo']?.errors?.['required']">{{ 'REQUIRED'  | translate }}</div>
                  <div *ngIf="form['Correo']?.errors?.['minlength']">{{ 'AT LEAST 3 CHARACTERS'  | translate }}</div>
                  <div *ngIf="form['Correo']?.errors?.['maxlength']">{{ 'UP TO 30 CHARACTERS'  | translate }}</div>
                </mat-error>
              </mat-form-field>
  
            <button mat-raised-button color="primary" type="submit">{{ 'LOGIN'  | translate }} </button>
          </div>
  
          <div class="col">
            
              <mat-form-field appearance="fill">
                <mat-label>{{ 'PASSWORD'  | translate }} </mat-label>
                <input matInput formControlName="Password" placeholder="Password">
                <mat-error *ngIf="submitted && form['Password'].errors">
                  <div *ngIf="form['Password']?.errors?.['required']">{{ 'REQUIRED'  | translate }}</div>
                  <div *ngIf="form['Password']?.errors?.['minlength']">{{ 'AT LEAST 8 CHARACTERS'  | translate }}</div>
                  <div *ngIf="form['Password']?.errors?.['maxlength']">{{ 'UP TO 30 CHARACTERS'  | translate }}</div>
                </mat-error>
              </mat-form-field>  
              
            <button mat-raised-button color="warn" (click)="onReset()">{{ 'CLEAN'  | translate }} </button>            
          </div>
        </div>
      </form>
    </div>
  </div>
  

